<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.3/dist/css/bulma-tagsinput.min.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma-switch">
      <link rel="stylesheet" type="text/css" href="/assets/style.css" />
      <style> .colored { background: linear-gradient(90deg, <%= colors[0] %>, <%= colors[1] %>); } </style>
      <link rel="shortcut icon" id="favicon" href="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.webp" type="image/x-icon">
      <meta content="<%= title %>" property="og:title" />
      <meta content="<%= bot.user.username %>, A bot that does stuff ig" property="og:description" />
      <meta content="https://cactie.smhsmh.club" property="og:url" />
      <meta content="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.webp" property="og:image" />
      <meta content="<%= colors[0] %>" data-react-helmet="true" name="theme-color" />
  </head>
  <body class="colored">
    <nav class="navbar is-spaced is-fixed-top is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="feather" src="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.webp">
          <%= bot.user.username %>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/dashboard">
            <i data-feather="tool"></i>
            Dashboard
          </a>
          <a class="navbar-item has-tooltip-bottom" data-tooltip="Currently Unstable" href="/music">
            <i data-feather="music"></i>
            Music
          </a>
          <a class="navbar-item" href="/support/discord">
            <i data-feather="help-circle"></i>
            Support
          </a>
          <a class="navbar-item has-tooltip-bottom" data-tooltip="Privacy Policy / Terms of Use" href="/tos">
            <i data-feather="align-justify"></i>
            Legal
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="/invite">
            <i data-feather="plus"></i>
            Invite
          </a>
          <% if (user) { %>
            <a class="navbar-item has-tooltip-bottom" data-tooltip="Click to log out" href="/logout">
              <img class="feather" style="border-radius: 50px;" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>">
              <%= user.username %>#<%= user.discriminator %>
            </a>
          <% } else { %>
            <a class="navbar-item" href="/login">
              <i data-feather="log-in"></i>
              Login
            </a>
          <% } %>
        </div>
      </div>
    </nav>
    <div class="header colored" id="waves">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(10, 10, 10, 0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(10, 10, 10, 0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(10, 10, 10, 0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(10, 10, 10, 1)" />
        </g>
      </svg>
    </div>
    <div id="notifications"></div>