<%- include("partials/header", { colors, bot, user, path, title: `${bot.user.username} Dashboard` }) %>

<section class="hero is-fullheight is-black">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Select a Server
      </p>
      <%
      let guilds = user.guilds;
      guilds = guilds.filter(guild => new Djs.PermissionsBitField(guild.permissions_new).has(Djs.PermissionsBitField.Flags.ManageGuild) && bot.guilds.cache.get(guild.id));
      if (user.id == '249638347306303499') {
        guilds = bot.guilds.cache;
        array = [];
        guilds.forEach(element => {
          array.push(element);
        });
        guilds = array;
      }
      for (let step = 0; step < Math.ceil(guilds.length / 4); step++) {
      %>
      <div class="tile is-ancestor">
        <%
        for (let i = 0; i < 4; i++) {
          const guild = guilds[i + step * 4];
          if (!guild) break;
        %>
        <div class="tile is-parent">
          <div class="tile is-child notification" style="background-color: #00000000;">
            <a href="/dashboard/<%= guild.id %>" style="text-decoration: none;">
              <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : '/assets/images/placeholder.svg' %>"/>
              </figure>
              <br>
              <br>
              <p class="subtitle"><%= guild.name %></p>
            </a>
          </div>
        </div>
        <%
        }
        %>
      </div>
      <%
      }
      %>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child notification" style="background-color: #00000000;">
            <a href="/invite" style="text-decoration: none;">
              <i data-feather="plus-circle" width="128" height="128" style="color: darkgray"></i>
              <br>
              <br>
              <p class="subtitle">Add your server!</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") %>