<%- include("partials/header", { colors, bot, user, path, title: `${bot.user.username}` }) %>

<section class="hero is-fullheight is-black">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="floating" src="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.webp" style="max-width: 18rem; max-height: 18rem; filter: drop-shadow(0 0 3rem <%= colors[1] %>)">
      <p class="title">
        <%= bot.user.username %>
      </p>
      <br>
      <p class="subtitle">
        A bot that does stuff ig<br><br>
        Admin, Fun, Music, Tickets, Utilities, Animals, and Actions!
      </p>
      <br>
      <a class="button is-primary is-outlined is-rounded" href="./dashboard" style="margin: 5px">
        <i data-feather="tool"></i>
        Dashboard
      </a>
      <a class="button is-primary is-outlined is-rounded" href="./support/discord" style="margin: 5px">
        <i data-feather="help-circle"></i>
        Support
      </a>
      <br>
      <a class="button is-success is-outlined is-rounded" href="./invite" style="margin: 10px">
        <i data-feather="plus"></i>
        Invite <%= bot.user.username %>!
      </a>
      <br>
      <a class="button is-black is-rounded" href="#why" style="margin: 10px">
        <i data-feather="chevron-down"></i>
        Why use <%= bot.user.username %>?
      </a>
    </div>
  </div>
</section>

<section class="hero is-fullheight is-black">
  <div class="hero-body">
    <div class="container has-text-centered">
      <br><br><br><br>

      <span class="anchor" id="why"></span>
      <p class="title">
        Why <%= bot.user.username %>?
      </p><br>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="subtitle">
              <i data-feather="zap"></i>
              <strong>Quick Fixes</strong>
            </p>
            <p class="has-text-white">
              The bot gets every bug fixed at most 2 days after discovery, so the experience stays seamless :)
            </p>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="subtitle">
              <i data-feather="smile"></i>
              <strong>User-friendly experience</strong>
            </p>
            <p class="has-text-white">
              We strive for fluid user experience, using the bot is aimed at being simple and easy! If you think we could improve, go to the support server and tell us.
            </p>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="subtitle">
              <i data-feather="smartphone"></i>
              <strong>Bloat-free code</strong>
            </p>
            <p class="has-text-white">
              <%= bot.user.username %> has fast, bloat-free, and efficient code to keep the bot running fluidly fast!
            </p>
          </div>
        </div>
      </div>

      <br>
      <p class="title">
        Features
      </p><br>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="subtitle"><strong>Admin</strong></p>
                <p>/help admin</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="subtitle"><strong>Fun</strong></p>
                <p>/help fun</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="subtitle"><strong>Animals</strong></p>
                <p>/help animals</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="subtitle"><strong>Music</strong></p>
                <p>/help music</p>
            </div>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="subtitle"><strong>Tickets</strong></p>
                <p>/help tickets</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="subtitle"><strong>Utilities</strong></p>
                <p>/help utilities</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="subtitle"><strong>Actions</strong></p>
                <p>/help actions</p>
            </div>
        </div>
      </div>

    </div>
  </div>
</section>

<%- include("partials/footer") %>